#card-loader{
	width: 400px;
	height: 250px;
	
}
#loader{
	padding-top: 15%;
	position: fixed;
	z-index: 3000;
	background-color: rgba(0,0,0,0.15);
}
#card-progress_bar{
	width: 200px;
}

#loader-antiguo{
	width: 100%;
	z-index: 2000;
	width: 100%;
	height: 130% !important;
	position: absolute;

}

.container-loader {
	width: 200px;
	height: 100px;
}
 .dots {
	 display: inline-block;
	 position: relative;
	 vertical-align: middle;
}
 .dots:not(:last-child) {
	 margin-right: 15px;
}
 .dots:before, .dots:after {
	 content: "";
	 display: inline-block;
	 width: 15px;
	 height: 15px;
	 border-radius: 50%;
	 position: absolute;
}
 .dots:nth-child(1):before {
	 -webkit-transform: translateY(-200%);
	 transform: translateY(-200%);
	 -webkit-animation: animBefore 1s linear infinite;
	 animation: animBefore 1s linear infinite;
	 -webkit-animation-delay: -0.9s;
	 animation-delay: -0.9s;
	 background-color: #5c93f2;
}
 .dots:nth-child(1):after {
	 -webkit-transform: translateY(200%);
	 transform: translateY(200%);
	 -webkit-animation: animAfter 1s linear infinite;
	 animation: animAfter 1s linear infinite;
	 -webkit-animation-delay: -0.9s;
	 animation-delay: -0.9s;
	 background-color: #9eccff;
}
 .dots:nth-child(2):before {
	 -webkit-transform: translateY(-200%);
	 transform: translateY(-200%);
	 -webkit-animation: animBefore 1s linear infinite;
	 animation: animBefore 1s linear infinite;
	 -webkit-animation-delay: -1.8s;
	 animation-delay: -1.8s;
	 background-color: #5c93f2;
}
 .dots:nth-child(2):after {
	 -webkit-transform: translateY(200%);
	 transform: translateY(200%);
	 -webkit-animation: animAfter 1s linear infinite;
	 animation: animAfter 1s linear infinite;
	 -webkit-animation-delay: -1.8s;
	 animation-delay: -1.8s;
	 background-color: #9eccff;
}
 .dots:nth-child(3):before {
	 -webkit-transform: translateY(-200%);
	 transform: translateY(-200%);
	 -webkit-animation: animBefore 1s linear infinite;
	 animation: animBefore 1s linear infinite;
	 -webkit-animation-delay: -2.7s;
	 animation-delay: -2.7s;
	 background-color: #5c93f2;
}
 .dots:nth-child(3):after {
	 -webkit-transform: translateY(200%);
	 transform: translateY(200%);
	 -webkit-animation: animAfter 1s linear infinite;
	 animation: animAfter 1s linear infinite;
	 -webkit-animation-delay: -2.7s;
	 animation-delay: -2.7s;
	 background-color: #9eccff;
}
 .dots:nth-child(4):before {
	 -webkit-transform: translateY(-200%);
	 transform: translateY(-200%);
	 -webkit-animation: animBefore 1s linear infinite;
	 animation: animBefore 1s linear infinite;
	 -webkit-animation-delay: -3.6s;
	 animation-delay: -3.6s;
	 background-color: #5c93f2;
}
 .dots:nth-child(4):after {
	 -webkit-transform: translateY(200%);
	 transform: translateY(200%);
	 -webkit-animation: animAfter 1s linear infinite;
	 animation: animAfter 1s linear infinite;
	 -webkit-animation-delay: -3.6s;
	 animation-delay: -3.6s;
	 background-color: #9eccff;
}
 .dots:nth-child(5):before {
	 -webkit-transform: translateY(-200%);
	 transform: translateY(-200%);
	 -webkit-animation: animBefore 1s linear infinite;
	 animation: animBefore 1s linear infinite;
	 -webkit-animation-delay: -4.5s;
	 animation-delay: -4.5s;
	 background-color: #5c93f2;
}
 .dots:nth-child(5):after {
	 -webkit-transform: translateY(200%);
	 transform: translateY(200%);
	 -webkit-animation: animAfter 1s linear infinite;
	 animation: animAfter 1s linear infinite;
	 -webkit-animation-delay: -4.5s;
	 animation-delay: -4.5s;
	 background-color: #9eccff;
}
 .dots:nth-child(6):before {
	 -webkit-transform: translateY(-200%);
	 transform: translateY(-200%);
	 -webkit-animation: animBefore 1s linear infinite;
	 animation: animBefore 1s linear infinite;
	 -webkit-animation-delay: -5.4s;
	 animation-delay: -5.4s;
	 background-color: #5c93f2;
}
 .dots:nth-child(6):after {
	 -webkit-transform: translateY(200%);
	 transform: translateY(200%);
	 -webkit-animation: animAfter 1s linear infinite;
	 animation: animAfter 1s linear infinite;
	 -webkit-animation-delay: -5.4s;
	 animation-delay: -5.4s;
	 background-color: #9eccff;
}
 .dots:nth-child(7):before {
	 -webkit-transform: translateY(-200%);
	 transform: translateY(-200%);
	 -webkit-animation: animBefore 1s linear infinite;
	 animation: animBefore 1s linear infinite;
	 -webkit-animation-delay: -6.3s;
	 animation-delay: -6.3s;
	 background-color: #5c93f2;
}
 .dots:nth-child(7):after {
	 -webkit-transform: translateY(200%);
	 transform: translateY(200%);
	 -webkit-animation: animAfter 1s linear infinite;
	 animation: animAfter 1s linear infinite;
	 -webkit-animation-delay: -6.3s;
	 animation-delay: -6.3s;
	 background-color: #9eccff;
}
 .dots:nth-child(8):before {
	 -webkit-transform: translateY(-200%);
	 transform: translateY(-200%);
	 -webkit-animation: animBefore 1s linear infinite;
	 animation: animBefore 1s linear infinite;
	 -webkit-animation-delay: -7.2s;
	 animation-delay: -7.2s;
	 background-color: #5c93f2;
}
 .dots:nth-child(8):after {
	 -webkit-transform: translateY(200%);
	 transform: translateY(200%);
	 -webkit-animation: animAfter 1s linear infinite;
	 animation: animAfter 1s linear infinite;
	 -webkit-animation-delay: -7.2s;
	 animation-delay: -7.2s;
	 background-color: #9eccff;
}
 .dots:nth-child(9):before {
	 -webkit-transform: translateY(-200%);
	 transform: translateY(-200%);
	 -webkit-animation: animBefore 1s linear infinite;
	 animation: animBefore 1s linear infinite;
	 -webkit-animation-delay: -8.1s;
	 animation-delay: -8.1s;
	 background-color: #5c93f2;
}
 .dots:nth-child(9):after {
	 -webkit-transform: translateY(200%);
	 transform: translateY(200%);
	 -webkit-animation: animAfter 1s linear infinite;
	 animation: animAfter 1s linear infinite;
	 -webkit-animation-delay: -8.1s;
	 animation-delay: -8.1s;
	 background-color: #9eccff;
}
 .dots:nth-child(10):before {
	 -webkit-transform: translateY(-200%);
	 transform: translateY(-200%);
	 -webkit-animation: animBefore 1s linear infinite;
	 animation: animBefore 1s linear infinite;
	 -webkit-animation-delay: -9s;
	 animation-delay: -9s;
	 background-color: #5c93f2;
}
 .dots:nth-child(10):after {
	 -webkit-transform: translateY(200%);
	 transform: translateY(200%);
	 -webkit-animation: animAfter 1s linear infinite;
	 animation: animAfter 1s linear infinite;
	 -webkit-animation-delay: -9s;
	 animation-delay: -9s;
	 background-color: #9eccff;
}
 @-webkit-keyframes animBefore {
	 0% {
		 -webkit-transform: scale(1) translateY(-200%);
		 z-index: 1;
	}
	 25% {
		 -webkit-transform: scale(1.3) translateY(0);
		 z-index: 1;
	}
	 50% {
		 -webkit-transform: scale(1) translateY(200%);
		 z-index: -1;
	}
	 75% {
		 -webkit-transform: scale(0.7) translateY(0);
		 z-index: -1;
	}
	 100% {
		 -webkit-transform: scale(1) translateY(-200%);
		 z-index: -1;
	}
}
 @keyframes animBefore {
	 0% {
		 transform: scale(1) translateY(-200%);
		 z-index: 1;
	}
	 25% {
		 transform: scale(1.3) translateY(0);
		 z-index: 1;
	}
	 50% {
		 transform: scale(1) translateY(200%);
		 z-index: -1;
	}
	 75% {
		 transform: scale(0.7) translateY(0);
		 z-index: -1;
	}
	 100% {
		 transform: scale(1) translateY(-200%);
		 z-index: -1;
	}
}
 @-webkit-keyframes animAfter {
	 0% {
		 -webkit-transform: scale(1) translateY(200%);
		 z-index: -1;
	}
	 25% {
		 -webkit-transform: scale(0.7) translateY(0);
		 z-index: -1;
	}
	 50% {
		 -webkit-transform: scale(1) translateY(-200%);
		 z-index: 1;
	}
	 75% {
		 -webkit-transform: scale(1.3) translateY(0);
		 z-index: 1;
	}
	 100% {
		 -webkit-transform: scale(1) translateY(200%);
		 z-index: 1;
	}
}
 @keyframes animAfter {
	 0% {
		 transform: scale(1) translateY(200%);
		 z-index: -1;
	}
	 25% {
		 transform: scale(0.7) translateY(0);
		 z-index: -1;
	}
	 50% {
		 transform: scale(1) translateY(-200%);
		 z-index: 1;
	}
	 75% {
		 transform: scale(1.3) translateY(0);
		 z-index: 1;
	}
	 100% {
		 transform: scale(1) translateY(200%);
		 z-index: 1;
	}
}
 