* { 
	--main-text-color: #336ccc;
}

h1, h4{
	color: var(--main-text-color);
	padding-top: 13px;
	margin-bottom: 15px;
}

hr{
	width: 90%;
	margin-left: 5%;
}
textarea{
	color: white;
	background-color: black;
	min-width: 250px;
}


/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ddd;
  border-radius: 50%;
}
/* Create a custom checkbox */
.checkmark-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 3px solid var(--warning);
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark, .container:hover input ~ .checkmark-box {
  background-color: #bbb;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark, .container input:checked ~ .checkmark-box {
  background-color: var(--warning);
}
/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark-box {
  background-color: var(--warning);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark-box:after{
	content: "";
  	position: absolute;
  	display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after, .container input:checked ~ .checkmark-box:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
/* Style the checkmark/indicator */
.container .checkmark-box:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
	color: black !important;
	border-color: var(--main-text-color) !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	color: white !important;
	background-color: var(--main-text-color);
}

.table-hover tbody tr:hover {
	background-color: #bdd5ff;
}

.table-hover tbody tr.active-table {
	background-color: #436ccc;
	color: white;
}

.toggle {
	width: 100% !important;
}
.logo-header{
	height: 80px;
	width: 250px;
}

.hr-header{
	color: var(--main-text-color);
}

.form-search{
	border-radius: 3px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
	padding: 15px;
}

.btn-width {
	width: 100% !important;
}

.table-log tbody{
	display: block;
 	max-height: 600px;
	overflow-y: auto;
	width: 100%;
}
.table-log tbody tr, .table-log tbody tr td{
	width: 100%;
	display: block;
}
.table-log {
 	width: 35% !important;
}
.log-textarea{
	height: 600px;
	width: 75%;
}
.img-toast{
	width: 15px;
	height: 15px;
}
.toast{
	max-width: 100% !important;
	background-color: rgba(0, 123, 255, 0.7);
	z-index: 20;
}

.ml--30{
	margin-left: -30px !important;
}
.mt--05{
	margin-top: -0.5rem;
}


#log_tab{
	background-color: white;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: 5px solid;
	border-bottom-color: var(--main-text-color);
}
#div_alert{
	position: fixed;
	margin-left: 75%;
    height: 55px;
    width: 25%;
    height: auto;
    z-index: 2;
}
#select_type_txn{
	border: solid 2px #1d7a32;
	color: #1d7a32;
}

#select_dcc_moneda{
	border: solid 2px var(--purple);
	color: var(--purple);
}