<?xml version="1.0" encoding="utf-8"?>
<corresponsales>
	<corresponsal convenio="1234567" empresa="CFE" razonsocial="COMISION FEDERAL DE ELECTRICIDAD" />
	<corresponsal convenio="123123" empresa="TELMEX" razonsocial="TELEMEX S.A." />
	<corresponsal convenio="7654321" empresa="CABLEVISION" razonsocial="CABLEVISION S.A." />
	<corresponsal convenio="1234123" empresa="SKY" razonsocial="SKY S.A." />
	<corresponsal convenio="0000000" empresa="AVON" razonsocial="AVON S.A." />
</corresponsales>