<?xml version="1.0" encoding="utf-8"?>
<configuracion>
  <interfaz>
    <logs value="1" />
    <clavelogs value="clave-logs" />
    <pinpadconexion value="USB" />
    <pinpadtimeout value="60" />
    <pinpadpuertowifi value="" />
    <pinpadmensaje value="SISTEMA LISTO" />
    <contactless value="1" />
    <clavebinesexcepcion value="" />
    <hosturl value="http://localhost:8080/totalpos/ws/autorizaciones/transacciones" />
    <binesurl value="http://localhost:8080/totalpos/ws/recursos/bines/concentrado/actualizaciones" />
    <tokenurl value="http://localhost:8080/totalpos/ws/autenticacion/oauth/token" />
    <update value="http://localhost:8080/telecargas/descargas" />
    <hosttimeout value="30" />
    <funcionalidadgaranti value="0" />
    <funcionalidadmoto value="0" />
    <tecladoliberado value="0" />
    <comercioafiliacion value="0000001" />
    <comercioterminal value="00000001" />
    <comerciomac value="11-22-33-44-55-66" />
    <idaplicacion value="7e8e667438cb00903250ae3cda9b4bc9398f8084bb46aff9495286bf344a695f" />
    <clavesecreta value="609a8c80-0134-48ce-b63f-2b8031268b09" />
  </interfaz>
</configuracion>